<body>
    <div>
        <a>
            <img width="120" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoUvqscXfEpYx4kU05fKD0fwoSWijQGVZ02oZEP8moV27by-mpV_YiP4HB2Yabd5tAREw&usqp=CAU" alt="logo">
            <p id="p1">Ekasi Development Center</p>
            <p id="p2">"from ekasi to the world stage"</p>
        </a>

    </div>
    <h1>IMPORTANT!!!</h1>
    <h2>
        <li>FORM MUST BE SUBMITTED IMMEDIATELY UPON COMPLETION</li>
        <li>This form does not guarantee any position</li>
        <li>Complete all sections of the form</li>
    </h2>
    <form action="">
    <div>
        <fieldset>
            <legend><h3>Personal Info</h3></legend>
        <label for="surname">Surname: </label>  
        <input id="surname" required placeholder="Ngxamalala" type="text">  Initial:<input placeholder="VD" type="text">
        <br>
        <br>
        <label for="title">Title: </label> Mr.<input name="title" id="title-mr" type="checkbox"> Ms.<input name="title" id="title-ms" type="checkbox">
        <label for="id">ID: </label>
        <input id="id" type="text" maxlength="13" required>
        <br>
        <br>
        <label for="password">Password: </label>
        <input id="password" maxlength="15" type="password" required>
        <br>
        <br>
        <label for="date">Date of Birth: </label>
        <input id="date" type="date">
        <br>
        <br>
        <label for="language">Home Language: </label>
        <select name="language" id="language">
            <option value="1">Select Language</option>
            <option value="2">IsiZulu</option>
            <option value="3">SeTswana</option>
            <option value="4">IsiXhosa</option>
            <option value="5">English</option>
        </select>
        <br>
        <br>
        <label for="citizen">RSA Citizen: </label>
        Yes: <input name="citizen" id="citizen" type="radio"> No: <input name="citizen" id="citizen" type="radio">
        </fieldset>
        <fieldset>
            <legend><h3>Applicant Residential Address</h3></legend>
            <label for="address">Address: </label>
            <input id="address" type="text">
            <br>
            <br>
            <label for="surburb">Surburb: </label>
            <input id="surburb" type="text">
            <br>
            <br>
            <label for="city">City: </label>
            <select name="city" id="">
                <option value="1">Select City</option>
                <option value="2">Pretoria</option>
                <option value="3">Nelspruit</option>
                <option value="4">Bloomfontein</option>
                <option value="5">Port Elizeberth</option>
                <option value="6">Venda</option>
                <option value="7">Khayelitsha</option>
                <option value="8">KwaKhahlamba</option>
                <option value="9">Knysna</option>
            </select>
            <br>
            <br>
            <label for="postal">Postal Code: </label>
            <input id="postal" minlength="0" type="text">
        </fieldset>
        <fieldset>
            <legend><h3>Documents</h3></legend>
            <label for="photo">Photo: </label>
            <input id="photo" type="image">
            <br>
            <br>
            <label for="email">email: </label>
            <input id="email" placeholder="Ngxamalala@gmail.com" type="email" required>
            <br>
            <br>
            <label for="file">Consent Form: </label>
            <input id="file" type="file">
        </fieldset>
        <br>
        <input id="submit" type="submit">